<div class="container">
  <div class="about">
    <h1>About the project</h1>
    <ul>
      <li data-aos="fade-right">
        <p>TU Blockchain is a deserialized application powering the TU
          cryptocurrency similar to bitcoin, ethereum ...
        </p>
        <img src="../images/blockchain.svg" alt="Blockchain" />
      </li>
      <li data-aos="fade-left">
        <p>
          Using cryptography we assure secure transactions between two parties
          with no middle party (like banks ...) interfering
        </p>
        <img src="../images/crypto.svg" alt="Cryptography" />
      </li>
      <li data-aos="fade-right">
        <p>
          With TU wallet you can send and receive coins (TUC aka Tishreen
          University Coin) using your public key and the 2nd party's public key
        </p>
        <img src="../images/wallet.svg" alt="Wallet" />
      </li>
      <li data-aos="fade-left">
        <p>
          The cryptocurrency community is growing massivly over the years and
          joining the early start of a new coin might give you alot of profit
          (just like the early investors of bitcoin they made a huge profit as
          the bitcoin grew in value)
        </p>
        <img src="../images/grow.svg" alt="Growing" />
      </li>
      <li data-aos="fade-right">
        <p>
          You can earn TU Coins by solving mathematical problems or as its
          called mining, when you mine a block in our blockchain you get
          assigned a block after your name with a value of our coin as a reward
        </p>
        <img src="../images/mining.svg" alt="Mining" />
      </li>
    </ul>
  </div>
</div>