<div class="container">
  <div class="contact">
    <h1>Contact us</h1>
    <div>
      <img src="../images/contact.svg" alt="" />
      <form action="" method="POST">
        <label for="firstName">First name</label>
        <input id="firstName" type="text" name="firstName" autocomplete="off" />
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" name="lastName" autocomplete="off" />
        <label for="email">Email</label>
        <input id="email" type="email" name="email" autocomplete="off" />
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>