<div class="container">
  <div class="section user-dashboard">
    <h1>Want to start transfering TU Coins and pay with it?</h1>
    <div>
      <a class="btn buy-btn" href="/buy">Buy Coins</a>
      <a class="btn send-btn" href="/send">Send Coins</a>
    </div>
    <h1>You can earn coins by mining.</h1>
    <a href="/mining" id="mining-btn" class="btn buy-btn">Start Mining</a>
  </div>
</div>