<div class="banner">
  <div class="overlay"></div>
  <img src="../images/banner.jpeg" alt="Banner" />
</div>
<div class="section welcome">
  <div>
    <h1>Welcome to TU Blockchain</h1>
    <p>A deserialized application powering the TU cryptocurrency.</p>
  </div>
  <div>
    <img src="../images/coin.png" alt="Coin" data-aos="fade-left" />
  </div>
</div>
<div class="section learn">
  <h1>Confused?</h1>
  <p>Learn about the technologies used in our blockchain and how it works by
    clicking the button below.</p>
  <a href="/about">Learn more</a>
</div>
<div class="section getting-started">
  <h1>Join our community</h1>
  <p>Signup right now and invest in the growing world of cryptocurrency.</p>
  <a href="/signup">Signup</a>
</div>